In [4]:
import pandas as pd
file = "excel_database.xlsx"
xl = pd.read_excel(file)

In [5]:
xl.head(2)

,dex_num,img,eng_name,eng_etym,jp_name,jp_etym
0,1,img\001,Bulbasaur,bulb: 球根 + saur: (dinosaur) 恐竜,フシギダネ,フシギ: (不思議) mysterious + タネ (種) seed
1,2,img\002,Ivysaur,ivy: na + saur: (dinosaur) 恐竜,フシギソウ,フシギ: (不思議) mysterious + ソウ (草) alt reading for...

In [8]:
type(xl)

pandas.core.frame.DataFrame

In [10]:
import sqlite3
db_file = "sql_database.db"
try:
    conn = sqlite3.connect(db_file)
    xl.to_sql("main", conn)
finally:
    conn.close()