## 1) Exploring with Pandas

In [10]:
import pandas as pd

In [78]:
with open("test.csv") as file:
    test_data = pd.read_csv(file)
with open("ltable.csv") as file:
    ltable = pd.read_csv(file)
with open("rtable.csv") as file:
    rtable = pd.read_csv(file)
with open("train.csv") as file:
    train_data = pd.read_csv(file)

In [86]:
train_data.head(10)

   ltable_id  rtable_id  label  id
0        621       3167      0   1
1       2115       8789      0   2
2        278       9064      0   3
3       1673      13279      0   4
4       2305       2948      0   5
5       1543      10366      0   6
6         88       3269      1   7
7        768      10397      0  11
8       2476      18730      0  12
9        470      10874      1  13

In [102]:
for i in range(1, 10):
    lid, rid, label, id_num = tuple(train_data.iloc[i,:])
    if label:
        label = 'MATCH'
    else:
        label = 'FALSE'
    print('\n-------',repr(i), label,'--------')
    print(ltable.iloc[lid])
    print(rtable.iloc[rid])

------- 1 FALSE --------
ltable_id                                                                     2115
title        da-lite high power model b manual screen with csr - 84 x 84 av format
category                                                     electronics - general
brand                                                                      da-lite
modelno                                                                      85303
price                                                                       372.99
Name: 2115, dtype: object
rtable_id                                                                                  8789
title        da-lite advantage manual with csr - projection screen - 133 in - 16 9 - high power
category                                                                     home audio theater
brand                                                                                   da-lite
modelno                                                                                     NaN
price                                                                                    904.95
Name: 8789, dtype: object

------- 2 FALSE --------
ltable_id                                                                                 278
title        da-lite hc cinema vision tensioned advantage electrol - av format 8 x 8 diagonal
category                                                                electronics - general
brand                                                                                 da-lite
modelno                                                                                 89939
price                                                                                    2595
Name: 278, dtype: object
rtable_id                                                          9064
title        hc da-mat tensioned advantage electrol - av format 50 x 50
category                                             projection screens
brand                                                           da-lite
modelno                                                             NaN
price                                                               NaN
Name: 9064, dtype: object

------- 3 FALSE --------
ltable_id                                                      1673
title        verbatim 4gb tuff - n - tiny usb 2.0 flash drive green
category                                                 usb drives
brand                                                      verbatim
modelno                                                         NaN
price                                                         11.98
Name: 1673, dtype: object
rtable_id                                                    13279
title        verbatim clip-it 4 gb usb 2.0 flash drive 97556 green
category                                          usb flash drives
brand                                                     verbatim
modelno                                                      97556
price                                                        10.98
Name: 13279, dtype: object

------- 4 FALSE --------
ltable_id                                                       2305
title        clickfree c2 500gb usb 3.0 portable external hard drive
category                                                 hard drives
brand                                                      clickfree
modelno                                                      hd527b3
price                                                          84.98
Name: 2305, dtype: object
rtable_id                                                                   2948
title        iomega skin 500 gb usb 2.0 portable external hard drive 35106 black
category                                                   computers accessories
brand                                                                     iomega
modelno                                                                    35106
price                                                                      94.49
Name: 2948, dtype: object

------- 5 FALSE --------
ltable_id                                                                                        1543
title        apc battery backup 750va back-ups es 120v 10 outlet power supply power-saving ups be750g
category                                                                        electronics - general
brand                                                                                             apc
modelno                                                                                        be750g
price                                                                                           95.88
Name: 1543, dtype: object
rtable_id                                                                    10366
title        apc be450g back-ups es 8-outlet 450va 120v uninterrupted power supply
category                                            batteries chargers accessories
brand                                                                          apc
modelno                                                                     be450g
price                                                                        55.99
Name: 10366, dtype: object

------- 6 MATCH --------
ltable_id                                                              88
title        balt wheasel easel adjustable melamine dry erase board white
category                                    stationery & office machinery
brand                                                                balt
modelno                                                             33250
price                                                              239.88
Name: 88, dtype: object
rtable_id                                                                                 3269
title        balt inc. wheasel easel adjustable melamine dry erase board 28 3 4 x 59 1 2 white
category                                                                   laminating supplies
brand                                                                                  mayline
modelno                                                                                    NaN
price                                                                                   134.45
Name: 3269, dtype: object

------- 7 FALSE --------
ltable_id                                                 768
title        accell ultraav displayport multi-monitor adapter
category                                electronics - general
brand                                                  accell
modelno                                            k087b-005b
price                                                  198.35
Name: 768, dtype: object
rtable_id                                                             10397
title        accell ultraav b101b-003b display port with vga active adapter
category                                                                NaN
brand                                                                accell
modelno                                                          b101b-003b
price                                                                 24.99
Name: 10397, dtype: object

------- 8 FALSE --------
ltable_id                                        2476
title        ifrogz ipod touch 4 luxe lean case white
category                              mp3 accessories
brand                                          ifrogz
modelno                                     it4ll-wht
price                                           24.99
Name: 2476, dtype: object
rtable_id                                                18730
title        ifrogz luxe lean case for ipod touch 4g gun metal
category                                                 cases
brand                                                   ifrogz
modelno                                              it4ll-gmt
price                                                    11.99
Name: 18730, dtype: object

------- 9 MATCH --------
ltable_id                                            470
title        iogear gbu421w6 bluetooth usb micro adapter
category                                      networking
brand                                             iogear
modelno                                         gbu421w6
price                                              14.84
Name: 470, dtype: object
rtable_id                                                                     10874
title        iogear bluetooth usb 2.1 micro adapter with tri-language package black
category                                                      computers accessories
brand                                                                        iogear
modelno                                                                    gbu421w6
price                                                                         15.17
Name: 10874, dtype: object

In [15]:
rtable.head()

,rtable_id,title,category,brand,modelno,price
0,0,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132,12.65
1,1,kodak black ink cartridge 10b 1163641,inkjet printer ink,kodak,1163641,10.28
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,computers accessories,kingston,ktc-d320 / 1g,33.75
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,mice,kinamax,ms-ues2,6.99
4,4,kensington k72349us wireless mouse for netbooks,mice,kensington,k72349us,24.00

## 2) Exploringwith Fuzzywuzzy

In [89]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [90]:
# for i in range(5, 10):
#     lid, rid, label, id_num = tuple(train_data.iloc[i,:])
#     if label:
#         label = 'MATCH'
#     else:
#         label = 'FALSE'
#     print('\n-------',repr(i), label,'--------')
#     print(ltable.iloc[lid])
#     print(rtable.iloc[rid])

'balt wheasel easel adjustable melamine dry erase board white'

In [109]:
for i in range(20):
    lid, rid, label, id_num = tuple(train_data.iloc[i,:])
#     print(ltable.iloc[lid].keys())
    lbrand, rbrand = ltable.iloc[lid]['brand'], rtable.iloc[rid]['brand']
    lmodel, rmodel = ltable.iloc[lid]['modelno'], rtable.iloc[rid]['modelno']
    print(label, lbrand,rbrand, '\t\t|\t\t', lmodel, rmodel)

0 zotac evga 		|		 zt-40604-10l 01g-p3-1452-tr
0 da-lite da-lite 		|		 85303 nan
0 da-lite da-lite 		|		 89939 nan
0 verbatim verbatim 		|		 nan 97556
0 clickfree iomega 		|		 hd527b3 35106
0 apc apc 		|		 be750g be450g
1 balt mayline 		|		 33250 nan
0 accell accell 		|		 k087b-005b b101b-003b
0 ifrogz ifrogz 		|		 it4ll-wht it4ll-gmt
1 iogear iogear 		|		 gbu421w6 gbu421w6
0 da-lite da-lite 		|		 87062 with keystone eliminator
0 netgear netgear 		|		 gs716t-200nas fs605na
0 da-lite da-lite 		|		 27557 nan
0 arrowmounts arrowmounts 		|		 am-p16b nan
0 samsung samsung 		|		 hx-mta64da / g42 hx-mta64da / g32
1 arkon griffin technology 		|		 gb01959 gb01959
0 antec antec 		|		 tricool 92mm dbb tricool 120mm
0 canon canon 		|		 dr-2010c 2455b002
0 da-lite da-lite 		|		 27544 23056
0 boss boss 		|		 bv9958b bv8966b

In [129]:
model_match = 0
brand_match = 0
positives = 0
ratios = []
for i in range(len(train_data)):
    lid, rid, label, id_num = tuple(train_data.iloc[i,:])
    lbrand, rbrand = str(ltable.iloc[lid]['brand']), str(rtable.iloc[rid]['brand'])
    lmodel, rmodel = str(ltable.iloc[lid]['modelno']), str(rtable.iloc[rid]['modelno'])
    if i < 20:
        print()
    if 'nan' not in [lbrand, rbrand, lmodel, rmodel]:
        ratios.append(
            (label,fuzz.ratio(lbrand, rbrand),
             fuzz.partial_ratio(lbrand, rbrand), 
             fuzz.ratio(lmodel,rmodel),
             fuzz.partial_ratio(lmodel,rmodel))
        )
#     if label == 1:
#         positives += 1
#         if rmodel == lmodel:
#             model_match += 1
# print(f'Positives: {positives}, Model matches: {model_match}')

In [133]:
ratios[:50]
pos = [r for r in ratios if r[0] == 1]
neg = [r for r in ratios if r[0] == 0]

In [157]:
def mean(list_of_tuples):
    tuple_len = len(list_of_tuples[0])
    total = [0 for i in range(tuple_len)]
    for t in list_of_tuples:
        for i, v in enumerate(t):
            total[i] += v
    means = list(map(lambda x: x/len(list_of_tuples), total))
    return means
print(mean(pos))
print(mean(neg))

[1.0, 94.40492170022371, 97.45413870246085, 87.25055928411633, 89.20805369127517]
[0.0, 81.59840810419682, 84.61625663289918, 45.49276410998553, 48.61673902556681]

In [154]:
a = [1,2,3]
b = map(lambda x: x+10, a)
list(b)

[11, 12, 13]

In [137]:
(0,0) + (1,1)

(0, 0, 1, 1)

In [99]:
train_data.iloc[0]

ltable_id     621
rtable_id    3167
label           0
id              1
Name: 0, dtype: int64

## 3) Exploring with py_entitymatching

In [64]:
import os
import py_entitymatching as em

def to_utf8(input_file, output_file=None, write_mode = 'x'):
    if not output_file:
        file, extension = os.path.splitext(input_file)
        output_file = file + '_utf8' + extension
    with open(input_file) as old:
        content= old.read()
    with open(output_file, mode=write_mode,encoding='utf-8') as new:
        new.write(content)
    return output_file

In [65]:
# testfile, rtablefile, ltablefile = 'test.csv', 'rtable.csv', 'ltable.csv'
rtable = em.read_csv_metadata(to_utf8('rtable.csv', write_mode='w'),key='rtable_id')
ltable = em.read_csv_metadata(to_utf8('ltable.csv', write_mode='w'),key='ltable_id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [66]:
A = ltable
B = rtable

In [67]:
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 2554
Number of tuples in B: 22074
Number of tuples in A X B (i.e the cartesian product): 56376996

In [68]:
A.head(4)

,ltable_id,title,category,brand,modelno,price
0,0,draper infrared remote transmitter,electronics - general,draper,121066,58.45
1,1,epson 1500 hours 200w uhe projector lamp elplp12,monitors,epson,elplp12,438.84
2,2,comprehensive two-piece 75 precision bnc jack for rg-59 set of 25,tv accessories,comprehensive,bj-2c7559,59.25
3,3,d-link dcs-1100 network camera,garden - general,d-link,dcs-1100,99.82

In [69]:
B.head(4)

,rtable_id,title,category,brand,modelno,price
0,0,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132,12.65
1,1,kodak black ink cartridge 10b 1163641,inkjet printer ink,kodak,1163641,10.28
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d320 1g,computers accessories,kingston,ktc-d320 / 1g,33.75
3,3,kinamax ms-ues2 mini high precision usb 3-button 3d optical scroll wheel mouse with retractable ...,mice,kinamax,ms-ues2,6.99

In [161]:

# Display the keys of the input tables
em.get_key(A), em.get_key(B)

TypeError: get_features() missing 6 required positional arguments: 'rtable', 'l_attr_types', 'r_attr_types', 'attr_corres', 'tok_funcs', and 'sim_funcs'

array([[0, 'draper infrared remote transmitter', 'electronics - general',
        'draper', '121066', 58.45],
       [1, 'epson 1500 hours 200w uhe projector lamp elplp12',
        'monitors', 'epson', 'elplp12', 438.84],
       [2,
        'comprehensive two-piece 75 precision bnc jack for rg-59 set of 25',
        'tv accessories', 'comprehensive', 'bj-2c7559', 59.25],
       ...,
       [2551, 'dell series 2 color ink', 'printers', 'dell', '330-0048',
        35.97],
       [2552, 'belkin pro series high integrity monitor cable vga',
        'electronics - general', 'belkin', 'f3h982-06', 7.88],
       [2553,
        'motorola mj270r 27 mile two way radio with 22 channels 121 privacy codes and noaa alert',
        'walkie-talkie/frs', 'motorola', 'mj270r', 47.11]], dtype=object)

In [71]:
sample_A, sample_B = em.down_sample(A, B, size=500, y_param=1)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:00

In [72]:
len(sample_B)

500

In [73]:
import pandas_profiling
profile = pandas_profiling.ProfileReport(A)
profile.to_file(outputfile="ltable_report.html")
profile = pandas_profiling.ProfileReport(B)
profile.to_file(outputfile="rtable_report.html")

In [165]:
ob = em.OverlapBlocker()
C = ob.block_tables(A, B, 'title', 'title', 
                    l_output_attrs=[ 'ltable_id', 'title','category', 'brand', 'modelno'],
                    r_output_attrs=[ 'rtable_id', 'title','category', 'brand', 'modelno'],
                    overlap_size=1, show_progress=True)

C:\Users\John\Anaconda3\lib\site-packages\pandas\core\generic.py:4384: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
C:\Users\John\Anaconda3\lib\site-packages\pandas\core\generic.py:4385: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:22

In [166]:
C.head()

,_id,ltable_ltable_id,rtable_rtable_id,ltable_title,ltable_category,ltable_brand,ltable_modelno,rtable_title,rtable_category,rtable_brand,rtable_modelno
0,0,70,0,panasonic stereo earbud headphones rp-hv21 green,electronics - general,panasonic,rphv21g,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132
1,1,105,0,koss stereophones with flexible headband design,electronics - general,koss,sporta-pro,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132
2,2,293,0,coby deep base stereo headphones cv121,electronics - general,coby,cv121,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132
3,3,490,0,coby pink high-performance isolation stereo earphones cvem79pnk,electronics - general,coby,cvem79pnk,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132
4,4,514,0,ihome portable stereo alarm clock with ipod dock gunmetal,electronics - general,ihome,ih16g,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132

In [167]:
# Sample  candidate set
S = em.sample_table(C, 450)

In [ ]:
# Label S
G = em.label_table(S, 'gold')

Column name (gold) is not present in dataframe

In [ ]:
1